<div class="fixed z-8 inset-0 overflow-y-auto @Hidden">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <!-- For centering the modal dialog -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>

    <div class="inline-block align-bottom bg-white rounded-lg text-left 
                overflow-hidden shadow-xl transform transition-all sm:my-8 
                sm:align-middle sm:max-w-lg sm:w-full">

      <!-- Modal Content goes here -->
      <div class="flex-col text-center p-4">
        <p class="font-bold">Hello from Modal</p>
        <br/>
        <button class="p-2 px-4 bg-red-800 text-white rounded" @onclick='_ => { Hidden = "hidden"; }'>Hide Modal</button>
      </div>

    </div>
  </div>
</div>

@code {
    private string Hidden { get; set; } = "";
}
